<section class="gastos-gerais">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef>Origem</th>
      <td mat-cell *matCellDef="let element">{{ element.origem }}</td>
    </ng-container>
  
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
    </ng-container>
  
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor Gasto</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valor | currency: "BRL" }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="mesLancamento">
      <th mat-header-cell *matHeaderCellDef>Mês</th>
      <td mat-cell *matCellDef="let element">{{ element.mesLancamento }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
