<section class="gastos-mensais">
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSourceConsolidada">
    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef>Mês</th>
      <td mat-cell *matCellDef="let element">{{ element.mes }}</td>
    </ng-container>
  
    <ng-container matColumnDef="valorTotal">
      <th mat-header-cell *matHeaderCellDef>Total Gasto</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valorTotal | currency: "BRL" }}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="gastosMensaisColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: gastosMensaisColumns"></tr>
  </table>
</section>
