<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Gastos por Mês
    </mat-panel-title>
    <mat-panel-description>
      Veja seus gastos consolidados por mês
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-gastos-mensais></app-gastos-mensais>
  
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Gastos Gerais
    </mat-panel-title>
    <mat-panel-description>
      Veja todos os gastos da sua fatura
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-gastos-gerais></app-gastos-gerais>

</mat-expansion-panel>
